{% extends "base.html" %}

{% block content %}
<form class="confirm" action="/artist/{{artist.id}}" method="post">
    <p class="confirm_line1">this is the last item of artist:</p>
    <p class="form_name">{{("" if artist.first_name == None else artist.first_name+" ")+artist.last_name}}</p>
    <p class="confirm_line2">by proceeding,<br>all info of this artist and associated album(s) will be <span class="alert">permanently deleted</span><br>from the database</p>
    <input class="submit" type="submit" value="confirm?">
</form>
{% endblock %}