<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overcomplicated Records</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Share:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <Header>
        <img src="{{ url_for('static', filename='img/OR_logo.png') }}" alt="Overcomplicate Records" width="335" height="94">
        <nav class="nav">
            <a href="/items/all/all">inventory</a>
            <a href="/item/new">add</a>
            <a href="/">update</a>
            <a href="/">delete</a>
            <a href="/">HOME</a>
            <!-- <a href="/edit/item">Edit</a> NEEDS TO SELECT WHAT TO EDIT!!!-->
        </nav>
    </Header>
    {% block content %}

<!-- CONTENT GOES HERE  -->

    {% endblock %}
</body>
</html>