{% extends "base.html" %}

{% block content %}
------ EDIT.HTML --------
<form class="form" action="/edit" method="post">

    <label for="artist">artist</label>
    <input type="text" name="artist" id="artist" value="{{item.album.artist.last_name}}">

    <label for="album">album</label>
    <input type="text" name="album" id="album" value="{{item.album.title}}">
    
    <label for="support">support</label>
    <input type="text" name="support" id="support" value="{{item.support}}">
    
    <label for="cost">cost</label>
    <input type="text" name="cost" id="cost" value="{{item.cost}}">
    



    


    <!-- <input type="text" name="search" id="AR" list="artist">
        <datalist id = "artist">
            {% for artist in artist_names %}
                <option value='{{artist}}'></option>
            {% endfor %}
        </datalist>

    <input type="text" name="search" id="search" list="album">
        <datalist id = "album">
            {% for album in album_titles %}
                <option value='{{album}}'></option>
            {% endfor %}
        </datalist> -->


  <input class=submit type="submit" value="submit">
</form>
{% endblock %}