{% extends 'base.html' %}
{% block content %}
    <header>
        <!-- ----------- SEARCH / FILTERS ----------- -->
        <!-- -------------- filters -------------- -->
        <p>filter by availability:</p>
        <button><a href="/inventory/{{selection}}/all">all</a></button>
        <button><a href="/inventory/{{selection}}/in_stock">in stock</a></button>
        <button><a href="/inventory/{{selection}}/ordered">ordered</a></button>
        <button>pre-booked</button>
        
        <hr>
        
        <!-- ----------- initials and buttons ----------- -->
        <p>list all artists:</p>
        <button><a href="/inventory/all_albums/{{filter}}">ALL / RESET</a></button>
        <p>or browse by initial:</p>
        {% for initial in initials %}
            <button><a href="/inventory/{{initial}}/{{filter}}">{{initial}}</a></button>
        {% endfor %}
        <hr>

        <!-- -------------- searches -------------- -->
        <p>or search a specific artist/album:<br>(t) means album title</p>
        <form action="/inventory/{{initial}}/{{filter}}"></form>
            <input type="text" name="search" id="search" list="datalist1">
            <datalist id = "datalist1">
                {% for artist in artist_names %}
                    <option value='{{artist}}'></option>
                {% endfor %}
                {% for album in albums %}
                    <option value='(t) {{album}}'></option>
                {% endfor %}
            </datalist>
    </header>


    <hr>

    <main>
        <p>----------- RESULTS -----------</p>
        <p>Displaying {{filter}} albums for artists beginning with: {{selection}}</p>
        <section>
            {% for initial in initials %}
                {% if initial == selection or selection == "all_albums" %}
                    <img src="/static/img/letters/{{initial}}.jpeg" alt={{initial}} width="50px" height="50px">
                {% endif %}
                {% for artist in all_artists if artist.last_name[0] == initial %}
                    <p>
                        {{("" if artist.first_name == None else artist.first_name+" ")+artist.last_name}}
                    </p>
                    {% for item in all_items if item.album.artist.last_name == artist.last_name %}
                    <p>
                        {{item.id}}
                        {{item.album.title}}
                        {{item.support}}
                        in stock: {{item.in_stock}}
                        ordered: {{item.ordered}}
                        pre-booked: {{customers_items[item.id]}}
                        cost: £{{item.cost}}
                        selling price: £{{item.selling_price}}
                        markup: £{{(item.selling_price - item.cost)|round(2)}}
                    </p>
                    {% endfor %}
                    <p>------------------------------------</p>
                {% endfor %}
            {% endfor %}
        </section>
    </main>
{% endblock %}