{% extends "base.html" %}

{% block content %}

<div class="form_container">
    <form id="edit_item" class="form_new" action="/item/{{item.id}}/edit" method="post">
        <p class="form_name">edit item #{{item.id}}</p>
        <p class="form_note">fields marked with (*) are required</p>
        <p class="label">artist:</p>
        <p class="value_blocked">{{item.album.artist.last_name}}</p>
        <div class="form_note_div">
            <p class="form_note">(to edit the artist please click on the button)</p>
            <button class="goto"><a href="/artist/{{item.album.artist.id}}/edit">►</a></button>
        </div>
        
        <p class="label">album:</p>
        <p class="value_blocked">{{item.album.title}}</p>
        <div class="form_note_div">
            <p class="form_note">(to edit the album please click on the button)</p>
            <button class="goto"><a href="/album/{{item.album.id}}/edit">►</a></button>
        </div>

        <label class="label" for="support">support</label>
        <input class="value" type="text" name="support" id="support" value="{{item.support}}">
        
        <label class="label" for="cost">cost £</label>
        <input class="value" type="number" name="cost" id="cost" value="{{item.cost}}">
        
        <label class="label" for="price">selling price £</label>
        <input class="value" type="number" name="price" id="price" value="{{item.selling_price}}">

        <p class="label">previous markup: £</p>
        <p class="value_blocked">{{(item.selling_price - item.cost)|round(2)}}</p>

        <label class="label" for="in_stock">in stock</label>
        <input class="value" type="number" name="in_stock" id="in_stock" value="{{item.in_stock}}">
        
        <label class="label" for="ordered">ordered</label>
        <input class="value" type="number" name="ordered" id="ordered" value="{{item.ordered}}">
        
        <div class="form_note_div">
            <p class="form_note uc">to enter pre-booking please go to the pre-bookings page -(under construction)</p>
        </div>
        <input class="submit" type="submit" value="submit">
        
    </form>
</div>


{% endblock %}