{% extends "base.html" %}
{% block content %}

{% if error!=None %}
    <p class="error">error: {{error}}</p>
{% endif %}

<div class="form_container">
    <form id="edit_item" class="form_new" action="/item/new" method="post">
        <p class="form_name">enter new item</p>
        <p class="form_note">fields marked with (*) are required</p>
        
        <label class="label" for="artist">Select artist</label>
        <input class="value" type="text" name="artist" id="artist" list="datalist1" value="{{input_artist}}">
        <datalist id = "datalist1">
            {% for artist in artists %}
            <option value='{{artist}}'></option>
            {% endfor %}
        </datalist>
        <div class="form_note_div">
            <p class="form_note">(if the artist in not in the list click on the button to create a new one)</p>
            <button class="goto"><a href="/artist/new">►</a></button>
        </div>
        
        
        <label class="label" for="album">Select album</label>
        <input class="value" type="text" name="album" id="album" list="datalist2"  value="{{input_album}}">
        <datalist id = "datalist2">
            {% for album in albums %}
            <option value='(t) {{album}}'></option>
            {% endfor %}
        </datalist>
        <div class="form_note_div">
            <p class="form_note">(if the album in not in the list click on the button to create a new one)</p>
            <button class="goto"><a href="/album/new">►</a></button>
        </div>
        
        
        <label class="label" for="support">support</label>
        <input class="value" type="text" name="support" id="support" value="{{input_support}}">
        
        <label class="label" for="cost">cost £</label>
        <input class="value" type="number" name="cost" id="cost" value="{{input_cost}}">
        
        <label class="label" for="price">selling price £</label>
        <input class="value" type="number" name="price" id="price" value="{{input_price}}">
        
        <label class="label" for="in_stock">in stock</label>
        <input class="value" type="number" name="in_stock" id="in_stock" value="{{input_in_stock}}">
        
        <label class="label" for="ordered">ordered</label>
        <input class="value" type="number" name="ordered" id="ordered" value="{{input_ordered}}">
        
        <div class="form_note_div">
            <p class="form_note uc">to enter pre-booking please go to the pre-bookings page -(under construction)</p>
        </div>
        <input class="submit" type="submit" value="submit">
        
    </form>
</div>
{% endblock %}